@font-face {
  font-family: "Figtree";
  src: url("/Fonts/Figtree/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("/Fonts/Lato/Lato/Lato-Regular.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Figtree;
}
.noScroll_Line {
  overflow: scroll; /* or auto if you prefer */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.noScroll_Line::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.noPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noPage img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
/* Hide scrollbars for the whole app */
body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
